Data/board_success_2.txt
Data/board_success.txt
Data/board_success_3.txt
Data/board_success_4.txt
Data/board_success_5.txt
Data/AdvancedEquityTest.txt
Docs/Demonstration
Data/Deep/GNUBG-data
Data/board_success_known.txt
Data/board_success_online.txt